<p id="notice"><%= notice %></p>

<h3>Your Shopping Cart</h3>

<table>
  <% @cart.line_items.each do |item| %>
  <tr>
    <td><%= item.quantity %></td>
    <td><%= item.plant.name %></td>
    <td class="item-price"><%= item.plant.price %></td>
  </tr>
  <% end %>
  <tr class="total-price">
    <td colspan="2">Total</td>
    <td class="total-cell"><%= @cart.total_price %></td>
  </tr>
</table>

<%= button_to 'Empty Cart', @cart, method: :delete, data: {confirm: 'Are you sure?'} %>

<%= link_to 'Back', shopper_path %>
